main {
    width: 100%;
    .site-main {
      width: 80%;
      margin: 0 auto;
      h4 {
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 0px;
        text-align: left;
        font-size: 44px;
        color:rgba(33, 36, 61, 1);
        margin-bottom: 25px;


      }
    }
    .wrapper-main {
      width: 80%;
      display: grid;
      grid-template-columns: auto auto;
      gap: 18px;
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
      padding-bottom: 35px;
      h5 {
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0px;
        text-align: left;
        font-size: 30px;
        color: rgba(33, 36, 61, 1);
      }
      p {
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        font-size: 16px;
        color: rgba(33, 36, 61, 1);
      }
      button {
        width: 62px;
        height: 25px;
        border-radius: 16px;
  
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 0px;
        text-align: left;
        font-size: 18px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(20, 40, 80, 1);
      }
      .doshboard {
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: left;
        font-size: 20px;
        color: rgba(134, 149, 164, 1);
      }
      .wrapper-year {
          display: flex;
          gap: 15px;
      }
    }
    @media (max-width:1000px) {
      .site-main {
          width: 80%;
          margin: 0 auto;
          .wrapper-main {
              width: 80%;
              display: grid;
              grid-template-columns: auto;
              gap: 14px;
              margin-bottom: 10px;
          }
      }
      
    }
  }
