@import url(../../works/header/header.css);
@import url(../../works/main/main.css);
@import url(../../works/footer/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
