@import url(../../blog/header/header.css);
@import url(../../blog/main/main.css);
@import url(../../blog/footer/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}
